name: docker

on:
  push:
  schedule:
    - cron: "22 2 * * 2"
  workflow_dispatch:
    
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    #- name: Set up QEMU
    #  uses: docker/setup-qemu-action@v1

    - name: Buildx
      uses: docker/setup-buildx-action@v2

    - name: Login
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        
    - name: Build and push
      uses: docker/build-push-action@v4
      with:
        context: .
        push: true
        tags: rocker/r-devel-ubsan-clang:latest
        
    - name: Timestamp
      run: date --rfc-3339=seconds > lastBuild.txt

    - name: Commit and push
      uses: EndBug/add-and-commit@v9
      with:
        add: "lastBuild.txt"
        push: true
        default_author: github_actions
